<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Airbnb </title>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
        th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/mystyle.css" th:href="@{/resources/css/mystyle.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <section>
        <div class="container-fluid containt">
            <div class="header">
                <div class="header-content">
                    <button class="btn-logo">
                        <div class="logo-content">
                            <svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false"
                                style="height: 3em; width: 3em; display: block; fill: currentcolor;">
                                <path
                                    d="m499.3 736.7c-51-64-81-120.1-91-168.1-10-39-6-70 11-93 18-27 45-40 80-40s62 13 80 40c17 23 21 54 11 93-11 49-41 105-91 168.1zm362.2 43c-7 47-39 86-83 105-85 37-169.1-22-241.1-102 119.1-149.1 141.1-265.1 90-340.2-30-43-73-64-128.1-64-111 0-172.1 94-148.1 203.1 14 59 51 126.1 110 201.1-37 41-72 70-103 88-24 13-47 21-69 23-101 15-180.1-83-144.1-184.1 5-13 15-37 32-74l1-2c55-120.1 122.1-256.1 199.1-407.2l2-5 22-42c17-31 24-45 51-62 13-8 29-12 47-12 36 0 64 21 76 38 6 9 13 21 22 36l21 41 3 6c77 151.1 144.1 287.1 199.1 407.2l1 1 20 46 12 29c9.2 23.1 11.2 46.1 8.2 70.1zm46-90.1c-7-22-19-48-34-79v-1c-71-151.1-137.1-287.1-200.1-409.2l-4-6c-45-92-77-147.1-170.1-147.1-92 0-131.1 64-171.1 147.1l-3 6c-63 122.1-129.1 258.1-200.1 409.2v2l-21 46c-8 19-12 29-13 32-51 140.1 54 263.1 181.1 263.1 1 0 5 0 10-1h14c66-8 134.1-50 203.1-125.1 69 75 137.1 117.1 203.1 125.1h14c5 1 9 1 10 1 127.1.1 232.1-123 181.1-263.1z">
                                </path>
                            </svg>
                        </div>
                    </button>

                    <div class="header-right">
                        <nav>
                            <button id="btn-signup" type="button" data-toggle="modal" data-target="#modal-signup">Sign
                                Up</button>
                            <button id="btn-signin" type="button" data-toggle="modal" data-target="#modal-login">Sign In
                                </buttons>
                            <button id="btn-user" type="button">User</buttons>
                            <button id="btn-logout" type="button">Logout</buttons>
                        </nav>
                        <div class="user-menu">
                            <ul>
                                <li id="for-lease">Houses FOR Lease</li>
                                <li id="booking">Booking</li>
                                <li id="profile">Profile</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="header-img">
                    <img class="header-image" sizes="100vw" src="../static/image/775vw.jpg"
                        th:src="@{/resources/image/775vw.jpg}"
                        srcset="../static/image/775vw.jpg 775w, ../static/image/1550vw.jpg 1550w, ../static/image/3100vw.jpg 3100w"
                        th:attr="srcset=@{/resources/image/775vw.jpg} + ' 775w, ' + @{/resources/image/1550vw.jpg} + ' 1550w, ' + @{/resources/image/3100vw.jpg} + ' 3100w'">
                </div>
            </div>

            <div class="container">
                <div class="content-home">
                    <h5 style="font-weight: bold">HOMES</h5>
                </div>

                <div class="row text-center text-lg-center" id="thumbnail-homes">
                    <div class="col-lg-3 col-md-4 col-6 home-detail">
                        <div class="grib-home">
                            <div class="img-content">
                                <a href="#">
                                    <img class="img-fluid img-thumbnail" src="../resources/image/img1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="home-discription">
                            <h6>Home type</h6>
                            <h5 style="font-weight: bold;">Home name</h5>
                            <p>$price </p>
                            <h6 style="font-weight: bold">Description</h6>
                            <p>discriptionsvevrergrerhjsslkfjlkdsjfsefewfwefe</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Sign In -->
            <div class="modal fade" id="modal-login" role="dialog" tabindex="-1" aria-labelledby="modalLoginLable">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h3 class="modal-title" id="modalLoginLable">Sign In</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body mx-3">
                            <!-- <form id="form-login"> -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input name="user" id="email-login" class="form-control" placeholder="Your email"
                                        type="email">
                                </div>
                                <span id="email-error" style="color:red">
                                </span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input name="password" id="password-login" class="form-control" placeholder="******"
                                        type="password">
                                </div>
                                <span id="password-error" style="color:red">
                                </span>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btn-login-modal" class="btn btn-primary btn-block">
                                    Login
                                </button>
                            </div>
                            <span id="login-error" style="color:red">
                            </span>
                            <p class="text-center"><a href="#" class="">Forgot password?</a></p>
                            <button class="btn-already text-center" data-toggle="modal" data-target="#modal-signup"
                                data-dismiss="modal">Create new Account?</button>
                            <!-- </form> -->
                        </div>
                        <div class="modal-footer mx-3">
                            <a href="" style="background-color: #4267B3" class="btn btn-block btn-outline-primary">
                                <i class="fab fa-facebook-f"></i> Login via facebook</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Sign Up -->
            <div class="modal fade" id="modal-signup" role="dialog" tabindex="-1" aria-labelledby="modalSignUpLable">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h3 class="modal-title text-center" id="modalSignUpLable">Sign Up</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body mx-3">
                            <h6 class="text-center">Sign up with <a href="#">facebook</a></h6>
                            <h6 class="text-center">or</h6>
                            <form id="form-signup">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="email" id="email" class="form-control" placeholder="Your email" type="email" required>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="firstName" id="firstName" class="form-control" placeholder="Firts Name" type="text" required>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="lastName" id="lastName" class="form-control" placeholder="Last Name" type="text" required>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="******" type="password" id="password" name="password" required>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="btn-signup-modal" class="btn btn-primary btn-block">
                                        Sign
                                        up
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="text-center">
                            <h6>Already have an Airbnb account? <button class="btn-already" data-toggle="modal"
                                    data-target="#modal-login" data-dismiss="modal">Login</button></h6>
                        </div>
                        <div class="modal-footer mx-3">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script language="javascript" th:src="@{/resources/js/jquery-3.3.1.min.js}"></script>
    <!-- <script language="javascript" src="../static/js/jquery-3.3.1.min.js"></script> -->
    <!-- <script language="javascript" src="../static/js/properties.js"></script> -->
    <script language="javascript" th:src="@{/resources/js/properties.js}"></script>
    <script language="javascript" th:src="@{/resources/js/pageloading.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


</body>

</html>