<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelear.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">
    <meta charset="UTF-8">
    <title>Airbnb </title>
</head>
<body>

    <div class="header">
    <img  srcset="https://a0.muscache.com/4ea/air/r:w775-h518-sfit,e:fjpg-c80/pictures/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg 775w">    


</body>
</html>