<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.codegym.airbnb.mapper.PropertiesMapper">

    <select id="selectPaging" resultMap="propertiesMap" parameterType="int">
        select p.* from properties p limit #{limit};
    </select>

    <select id="findById" resultMap="propertiesMap" parameterType="int">
        select p.* from properties p where p.id = #{id};
    </select>

    <insert id="insert" parameterType="Properties">
        insert into properties(name, description, user_id, house_type, address, bedrooms, bathrooms, price, status, image_default)
          values(#{name}, #{description}, #{userId}, #{houseType}, #{address}, #{bedRooms}, #{bathRooms}, #{price}, #{status}, #{imageDefault} );
    </insert>

    <select id="findByMaxId" resultType="Properties">
        select *  from properties where id = (select max(id) from properties);
    </select>

    <update id="updateImagePath" parameterType="Properties">
        update properties set image_default = #{imageDefault} where id = #{id}
    </update>

    <resultMap id="propertiesMap" type="Properties">
        <result property = "id" column = "id"/>
        <result property = "name" column = "name"/>
        <result property = "description" column = "description"/>
        <result property = "userId" column = "user_id"/>
        <result property = "houseType" column = "house_type"/>
        <result property = "address" column = "address"/>
        <result property = "bedRooms" column = "bedrooms"/>
        <result property = "bathRooms" column = "bathrooms"/>
        <result property = "price" column = "price"/>
        <result property = "status" column = "status"/>
        <result property="imageDefault" column="image_default"/>
    </resultMap>

</mapper>