<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Airbnb </title>

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css"
        th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/detailstyle.css" 
        th:href="@{/resources/css/detailstyle.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <section>
        <div class="container-fluid containt">
            <div class="header">
                <div class="header-content">
                    <button class="btn-logo">
                        <div class="logo-content">
                            <svg viewBox="0 0 1000 1000" role="presentation" aria-hidden="true" focusable="false"
                                style="height: 3em; width: 3em; display: block; fill: currentcolor;">
                                <path
                                    d="m499.3 736.7c-51-64-81-120.1-91-168.1-10-39-6-70 11-93 18-27 45-40 80-40s62 13 80 40c17 23 21 54 11 93-11 49-41 105-91 168.1zm362.2 43c-7 47-39 86-83 105-85 37-169.1-22-241.1-102 119.1-149.1 141.1-265.1 90-340.2-30-43-73-64-128.1-64-111 0-172.1 94-148.1 203.1 14 59 51 126.1 110 201.1-37 41-72 70-103 88-24 13-47 21-69 23-101 15-180.1-83-144.1-184.1 5-13 15-37 32-74l1-2c55-120.1 122.1-256.1 199.1-407.2l2-5 22-42c17-31 24-45 51-62 13-8 29-12 47-12 36 0 64 21 76 38 6 9 13 21 22 36l21 41 3 6c77 151.1 144.1 287.1 199.1 407.2l1 1 20 46 12 29c9.2 23.1 11.2 46.1 8.2 70.1zm46-90.1c-7-22-19-48-34-79v-1c-71-151.1-137.1-287.1-200.1-409.2l-4-6c-45-92-77-147.1-170.1-147.1-92 0-131.1 64-171.1 147.1l-3 6c-63 122.1-129.1 258.1-200.1 409.2v2l-21 46c-8 19-12 29-13 32-51 140.1 54 263.1 181.1 263.1 1 0 5 0 10-1h14c66-8 134.1-50 203.1-125.1 69 75 137.1 117.1 203.1 125.1h14c5 1 9 1 10 1 127.1.1 232.1-123 181.1-263.1z">
                                </path>
                            </svg>
                        </div>
                    </button>

                    <nav class="header-right">
                        <button id="btn-signup" type="button" data-toggle="modal" data-target="#modal-signup">Sign
                            Up</button>
                        <button id="btn-signin" type="button" data-toggle="modal" data-target="#modal-login">Sign In
                            </buttons>
                            <button id="btn-user" type="button"></buttons>
                                <button id="btn-logout" type="button"></buttons>
                    </nav>
                </div>


                <div id="carousel-image-view" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner">
                        <div class="carousel-item ">
                            <img src="../../static/image/img3.jpg" th:src="@{/resources/image/img3.jpg}"
                                alt="First Slide">
                        </div>
                        <div class="carousel-item ">
                            <img src="../../static/image/img2.jpg" th:src="@{/resources/image/img2.jpg}"
                                alt="Second Slide">
                        </div>
                        <div class="carousel-item active">
                            <img src="../../static/image/img4.jpg" th:src="@{/resources/image/img4.jpg}"
                                alt="Third Slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-image-view" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-image-view" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="content-detail container">
                <div class="detail-info">
                    <div class="general-info">
                        <h3>Home Name</h3>
                        <div class="convenient">
                            <i class="fas fa-home"></i>
                            <span th:utext="">Home type</span>
                        </div>
                        <div>
                            <span>1</span>
                            <i class="fas fa-bed"></i>
                            <span>1</span>
                            <i class="fas fa-bath"></i>
                        </div>

                        <div>
                            <i class="fas fa-wifi"></i>
                            <i class="fas fa-tv"></i>
                        </div>
                    </div>

                    <div class="description">
                        <h4>Description</h4>
                        <p id="description-body">
                            Our house located right in Hanoi city which is a historical Old Quarters where our family
                            lived since {20th} century fusions with 3 generation together until today.
                            The room is newly built on top floor with a private balcony for chill with splendid view of
                            old Hanoi and faces down to a garden we spend time look after it everyday. We provide a
                            comfortable homestay that bring the unique features as local experience at our place with
                            irresistible price.

                            The space

                            We are one of the only few house in Old quarter that still keeps the Hanoi traditional house
                            style , inside a small alley but with many open out door area in house where you find green
                            & sunlight
                            You have a big room 35m2, balcony face to a small garden , King size comfy bed and large
                            private bathroom
                            The room located in 4th floor of the house, 1 full level, so you will have your privacy

                            You can check out our others listings in French quarter
                            https://www.airbnb.com/rooms/33049631
                            https://www.airbnb.com/rooms/33050876

                            Guest access

                            You have your own room with Ensuite bath room on top floor so there will be view from your
                            front door and back balcony

                            We have 1 couch for extra person staying
                            Good wifi connection , aircon, TV, hot/cold shower (private bathroom inside your room) and a
                            refrigerator in your room

                            Interaction with guests

                            Host will be home when you check in and anytime when you need assistance
                            Working in Travel industry for almost 8 years, I can help to arrange your trip with best
                            deal and high quality , most of the tour will pick you up front our our door

                            Other things to note

                            Airport transfer to our doorstep:

                            For your convenience and to avoid unnecessary loss of time, I will help you arrange an
                            airport transfer. The driver will arrive punctually at the arrival terminal and hold a
                            welcome board bearing your name; he will then drive you directly to my house. The cost will
                            be the same as the market price - $16 for one way

                            With my day job as a tour consultant, i am very proud to say that i can give the best advise
                            for your travels to Northern Vietnam and relieve you of all the stress booking and planning
                            a holiday (:I can help you with booking of good quality tours / trains / bus /
                            accommodations to other places such as Sapa, Ha Long, Cat Ba, Ba Be, Hoa Lu, Tam Coc etc or
                            other parts of Northern Vietnam with competitive price and service guarantee.Iam happy to
                            discuss all budgets and travel options. The most important thing for me is that i provide
                            you with honest information to make your trip as amazing as possible. Please check with me
                            for more information about tour packages (:

                            A bubbly team of students who are always looking to interact with foreigners and indulge in
                            cultural and language exchange.! Please inform me in advance if interested so I can check
                            their available.

                            If you have an early arrive or late check out, we can arrange place for you to keep your
                            luggage if the room is not available for early check in or late check out
                        </p>
                        <button type="button" id="btn-read-more">Read more about>></button>
                    </div>
                </div>

                <div class="booking">
                    <div class="booking-content">
                        <div class="header-booking">
                            <h4><span>$14</span> per night</h4>
                            <form>
                                <div class="form-group">
                                    <label for="checkin-booking"> Check-in</label>
                                    <input type="date" id="checkin-booking" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="checkout-booking"> Check-out</label>
                                    <input type="date" id="checkout-booking" class="form-control">
                                </div>

                                <button class="btn btn-primary" type="button" id="btn-booking">BOOK</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal Sign In -->
            <div class="modal fade" id="modal-login" role="dialog" tabindex="-1" aria-labelledby="modalLoginLable">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h3 class="modal-title" id="modalLoginLable">Sign In</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body mx-3">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <input name="user" id="email-login" class="form-control" placeholder="Your email"
                                        type="email">
                                </div>
                                <span id="email-error" style="color:red">
                                </span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input name="password" id="password-login" class="form-control" placeholder="******"
                                        type="password">
                                </div>
                                <span id="password-error" style="color:red">
                                </span>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btn-login-modal" class="btn btn-primary btn-block">
                                    Login
                                </button>
                            </div>
                            <span id="login-error" style="color:red">
                            </span>
                            <p class="text-center"><a href="#" class="">Forgot password?</a></p>
                        </div>
                        <div class="modal-footer mx-3">
                            <a href="" style="background-color: #4267B3" class="btn btn-block btn-outline-primary">
                                <i class="fab fa-facebook-f"></i> Login via facebook</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Sign Up -->
            <div class="modal fade" id="modal-signup" role="dialog" tabindex="-1" aria-labelledby="modalSignUpLable">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h3 class="modal-title text-center" id="modalSignUpLable">Sign Up</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body mx-3">
                            <h6 class="text-center">Sign up with <a href="#">facebook</a></h6>
                            <h6 class="text-center">or</h6>
                            <form>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="" class="form-control" placeholder="Your email" type="email">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="" class="form-control" placeholder="Firts Name" type="text">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input name="" class="form-control" placeholder="Last Name" type="text">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="******" type="password">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-date-input" class="col-form-label">Birthday</label>
                                    <input class="form-control" type="date" value="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="btn-signup-modal" class="btn btn-primary btn-block">
                                        Sign
                                        up
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="text-center">
                            <h6>Already have an Airbnb account? <button class="btn-already" data-toggle="modal"
                                    data-target="#modal-login" data-dismiss="modal">Login</button></h6>
                        </div>
                        <div class="modal-footer mx-3">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script language="javascript" th:src="@{/resources/js/jquery-3.3.1.min.js}"></script>
    <script language="javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
    <script language="javascript" src="../../static/js/properties.js"></script>
    <script language="javascript" src="../../static/js/detail.js"></script>
    <script language="javascript" th:src="@{/resources/js/properties.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>